<section class="explore">
  <div class="explore__inner">
    <h1 class="explore__inner-title">Explore videos and tools to help you feel better</h1>
    <div class="explore__inner-search">
      <form action="/search" method="get" class="explore__form" role="search">
        <input class="explore__form-item explore__form-item--search" name="q" type="search" placeholder="Type body area or condition into search field" value="{{ search.terms | escape }}" />
        <input class="explore__form-item explore__form-item--button" type="submit" value="GO"/>
      </form>
    </div>
  </div>
</section>
<section class="library">
  <div class="library__inner">
    <h2 class="library__title">Our most popular self treatment videos</h2>
    <div class="library__item">
      <img id="trailer-elbow" src="{{ 'healthy-shoulder.jpg' | asset_url }}" data-trailer="-WCQaz2O6Uo" />
      <div class="library__item-inner">
        <h4 class="library__item-title">Healthy Shoulder</h4>
        <p class="library__item-text">Is your shoulder pain limiting you? Do you feel shoulder pain when you are lifting, reaching, getting dressed, working or playing?</p>
        <a href="/products/shoulder-mobility-exercises" class="library__item-button">Learn More</a>
      </div>
    </div>
    <div class="library__item">
      <img id="trailer-neck" src="{{ 'climbers-kit.jpg' | asset_url }}" data-trailer="lDs1esuqUDs" />
      <div class="library__item-inner">
        <h4 class="library__item-title">Climber's Kit</h4>
        <p class="library__item-text">Are you a climber looking to perform at your optimal level and keep climbing for decades?</p>
        <a href="/products/climbing-cross-training-exercises" class="library__item-button">Learn More</a>
      </div>
    </div>
    <div class="library__item">
      <img id="trailer-back" src="{{ 'golfers-elbow-tendinitis.jpg' | asset_url }}" alt="" data-trailer="ApVh_0Qjmck" />
      <div class="library__item-inner">
        <h4 class="library__item-title">Golfer's Elbow Tendinitis</h4>
        <p class="library__item-text">Do you suffer from pain on the inside of your elbow or forearm, a.k.a. golfer’s elbow tendinitis?</p>
        <a href="/products/exercises-for-golfers-elbow-tendinitis" class="library__item-button">Learn More</a>
      </div>
    </div>
  </div>
</section>
<section class="blog">
  <div class="blog__inner">
    <h2 class="blog__title">Watch, read, listen</h2>
    <a href="/pages/bd-beta-series" class="blog__item">
      <img id="trailer-elbow" src="{{ 'home-blog-1.jpg' | asset_url }}" data-trailer="-WCQaz2O6Uo" />
      <div class="blog__item-inner">
        <h4 class="blog__item-title">Watch the Black Diamond Beta video series</h4>
        <h4>&#10230;</h4>
      </div>
    </a>
    <a href="/blogs/articles" class="blog__item">
      <img id="trailer-neck" src="{{ 'home-blog-2.jpg' | asset_url }}" data-trailer="lDs1esuqUDs" />
      <div class="blog__item-inner">
        <h4 class="blog__item-title">Read articles about cross-training and more</h4>
        <h4>&#10230;</h4>
      </div>
    </a>
    <a href="/blogs/podcasts" class="blog__item">
      <img id="trailer-back" src="{{ 'home-blog-3.jpg' | asset_url }}" alt="" data-trailer="ApVh_0Qjmck" />
      <div class="blog__item-inner">
        <h4 class="blog__item-title">Listen to podcasts about training/injury prevention</h4>
        <h4>&#10230;</h4>
      </div>
    </a>
  </div>
</section>
<section class="big-quote">
  <div class="big-quote__inner">
    <div class="big-quote__item-container">
      {% for article in blogs["testimonials"].articles reversed %}
        <div class="big-quote__item">
          <h3 class="big-quote__testimony">{{ article.content }}</h3>
          <h3 class="big-quote__author">- {{ article.title }}</h3>
        </div>
      {% endfor %}
    </div>
    <a href="/pages/videos-tool-kits" class="big-quote__button">Shop all self treatment videos</a>
  </div>
</section>
<!-- <section class="about-us">
  <div class="about-us__inner">
    <div class="about-us__title">More about us</div>
    <div class="about-us__text">
      Esther Smith (Doctor of Physical Therapy) and Eva Kauffman (Master Pilates Instructor) have combined their philosophies into videos designed to help you understand your body better and teach you how to heal through movement. Using the science and art of physical therapy and the holistic approach of the Pilates Method, they have created hybrid kits of exercises for specific body areas and conditions that you can safely and effectively do at home.
    </div>
    <a href="/pages/videos-tool-kits" class="about-us__link button button--secondary">Browse video library</a>
  </div>
</section> -->

