<section id="intro" class="intro">
  <div class="intro__inner">
    <div class="intro__item intro__item--computer" id="trailer-home">
      <img src="{{ 'home-computer.png' | asset_url }}" />
    </div>
    <!-- <div class="intro__item intro__item--text">
      <div class="intro__title">Videos and tools to help you feel better.</div>
      <a href="/pages/videos-tool-kits" class="intro__button button button--tertiary">
        Browse and download
      </a>
    </div> -->
  </div>
</section>
<section class="about">
  <div class="about__text">
    <p>{{ page.content }}</p>
  </div>
</section>
<section class="employees">
  <ul class="employees__list">
    {% for article in blogs["employees"].articles reversed %}
      <li class="employees__item">
        <ul class="employee">
          <li class="employee__item employee__item--image">
            <img class="employee__image" src="{{ article.image.src | img_url: '215x215' }}" />
          </li>
          <li class="employee__item employee__item--text">
            <h4 class="employee__name">
              {{ article.title }}
            </h4>
            <div class="employee__content">
              {{ article.content }}
            </div>
          </li>
        </ul>
      </li>
    {% endfor %}
  </ul>
</section>
