<div class="video-product">
  <div class="video-product__intro">
    <div class="video-product__intro-inner">
      <a id="trailer" class="video-product__intro-thumbnail" href="#" data-trailer="{{ product.vendor }}">
        <img class="product-intro__img" src="{{ product | img_url: '680x680' }}" alt="{{ product.featured_image.alt | escape }}" />
      </a>
      <div class="video-product__intro-details">
        <div class="video-product__intro-info">
          <h4 class="video-product__intro-title">{{ product.title }}</h4>
          {% include 'product-stars' %}
          <p id="product-price" class="video-product__intro-price">
            {% assign variant = product.selected_or_first_available_variant %}
            {% if product.compare_at_price > product.price %}
            <span class="product-price on-sale" itemprop="price">
              {{ variant.price | money }}
            </span>
            <s class="product-compare-price">
              {{ variant.compare_at_price | money }}
            </s>
            {% else %}
            <span class="product-price" itemprop="price">
              {{ variant.price | money }}
            </span>
            {% endif %}
          </p> <!-- product-price -->
        </div>
        <div class="product-button">
           <input type="submit" name="add" id="add" value="Add to cart" class="product-button__submit" />
        </div>
      </div>
    </div>
  </div>
  <div class="video-product__columns">
    <div class="video-product__info">
      <h4 class="video-product__info__title">More information about the</br>{{ product.title }}:</h4>
      <div class="video-product__info__description">{{ product.description }}</div>

      {% assign hide_default_title = false %}
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        {% assign hide_default_title = true %}
      {% endif %}

      <div class="product-button">
         <input type="submit" name="addVideo" id="addVideo" value="Add to cart" class="product-button__submit" />
      </div>
      <div class="video-product__info__instructions">
        <p><strong>Download Instructions</strong></p>
        <p>Once purchased, you will receive an email with an invitation to download the video. We suggest doing so on your computer so you have the file to watch on other devices.</p>
      </div>
    </div> <!-- product-info -->
    <div class="product-kit">
      <h4 class="product-kit__title">We recommend these tools for this video:</h4>
      {% include 'kit-products' %}
      <div class="product-kit__button">
          <input type="submit" name="addKit" id="addKit" value="Purchase all tools as a kit" class="product-button__submit product-button__submit--secondary" />
      </div>
    </div> <!-- product-kit -->
  </div> <!-- product-columns -->
</div> <!-- product-video -->


