<div class="product-general product--free-video">
  <div class="product-general__inner">
    <div class="product-general__item product-image">
    {% if product.images.size == 0 %}
        <img class="product-image__img" src="{{ '' | img_url: 'grande' }}" alt="" />
    {% else %}
      <a id="trailer" class="product-image__link product-image__link--video" href="#" data-trailer="{{ product.vendor }}">
        <img class="product-image__img--product" src="{{ product | img_url: '680x680' }}" alt="{{ product.featured_image.alt | escape }}" />
        <!-- <div class="product-image__bg"></div> -->
      </a>
    {% endif %}
    </div><!-- .product-image -->
    <div class="product-general__item product-general__info">
      <h1 itemprop="name" class="product-general__info__title">
        {{ product.title }}
      </h1>
      <div class="product-info__out-of-stock">Looks like one or more of the products in this kit are unavailable! Check back in the next week or two!</div>
      <p id="product-description" class="product-general__info__description" itemprop="description">
        {{ product.description }}
      </p>
    </div> <!-- product-info -->
    <div class="product__item product-button">
       <input type="submit" name="add" id="add" value="Add to cart" class="product-button__submit" />
    </div> <!-- product-item -->
  </div> <!-- product-inner -->
</div>
